In [10]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
# we will get the same results every time we run the same program
random.seed(42)
df=pd.read_csv('Data/data_clean.csv')
df.head()

   student_id timestamp       group landing_page  satisfied
0      851104   11:48.6     control     old_page          0
1      804228   01:45.2     control     old_page          0
2      661590   55:06.2  experiment     new_page          0
3      853541   28:03.1  experiment     new_page          0
4      864975   52:26.2     control     old_page          1

In [11]:
df2=df

df2['intercept'] = 1
df2['ab_page'] = pd.get_dummies(df2['group'])['experiment']

countries_df = pd.read_csv('Data/countries.csv')
df_new = countries_df.set_index('student_id').join(df2.set_index('student_id'), how = 'inner')
df_new.head()

,dept,timestamp,group,landing_page,satisfied,intercept,ab_page
student_id,,,,,,,
630000,Business,26:06.5,experiment,new_page,0,1,1
630001,Business,16:42.6,experiment,new_page,1,1,1
630002,Business,20:56.4,control,old_page,0,1,0
630003,Business,09:31.5,experiment,new_page,0,1,1
630004,Business,23:58.8,experiment,new_page,0,1,1

In [16]:
df_new[['Health','IT','Business']] = pd.get_dummies(df_new['dept'])

df_new.head()

,dept,timestamp,group,landing_page,satisfied,intercept,ab_page,Health,IT,Business
student_id,,,,,,,,,,
630000,Business,26:06.5,experiment,new_page,0,1,1,1,0,0
630001,Business,16:42.6,experiment,new_page,1,1,1,1,0,0
630002,Business,20:56.4,control,old_page,0,1,0,1,0,0
630003,Business,09:31.5,experiment,new_page,0,1,1,1,0,0
630004,Business,23:58.8,experiment,new_page,0,1,1,1,0,0

array([0, 1], dtype=uint8)

In [15]:
import statsmodels.api as sm
log_mod2 = sm.Logit(df_new['satisfied'], df_new[['intercept','ab_page','Health','IT', 'Business']])
results2 = log_mod2.fit()
results2.summary()

KeyError: "['Health', 'IT', 'Business'] not in index"